        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }

        form {
            display: grid;
            grid-template-columns: 150px 1fr;
            gap: 10px;
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"] {
            width: 100%;
            padding: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        .code-snippet {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            font-size: 14px;
            white-space: pre-wrap;
            display: block;
            margin-bottom: 20px;
        }
        
        .my-heading {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
            padding-bottom: 10px;
          }
          .copy-icon {
            position: absolute;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
          }   
          
          

          /* Code snippet copy message */
.copy-message {
    position: fixed;
    top: 10px;
    right: 10px;
    color: brown;
    font-weight: bold;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .code-container:hover .copy-message {
    opacity: 1;
  }